body {
    background-color: pink; /* Purple body */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  .form-container {
    background-color: #333; /* Dark background for the form container */
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  #title {
    font-size: 2em;
    text-align: center;
    color: #fff;
  }
  
  #description {
    font-size: 1.2em;
    text-align: center;
    color: #ddd;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  label {
    color: #ddd;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    font-size: 1em;
    outline: none;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 5px;
    accent-color: #4caf50; /* Green accent for radio and checkboxes */
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    font-size: 1.2em;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  option {
    background-color: #333;
    color: #fff;
  }
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Animations */
}

button:hover {
    background-color: #45a049; /* Dark-green when ur mouse on button */
    transform: scale(1.05); /* Increase the button */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increase the shadow when ur cursor hit on button */
}